* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

/*-- index - landing page --*/

.main {
  position: relative;
}

.image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(232, 155, 204, 0.5413515748096114)),
    color-stop(50%, rgba(188, 147, 212, 0.4797269249496674)),
    color-stop(100%, rgba(0, 255, 222, 0.49653364763874297))
  );
}

.logo-text {
  position: fixed;
  font-size: 72px;
  text-transform: uppercase;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.enter-site-btn {
  position: absolute;
  z-index: 100;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: fixed;
}

button {
  padding: 24px 180px;
  border: none;
  border-radius: 60px;
  font-size: 40px;
  font-weight: 700;
}

.main button a {
  text-decoration: none;
  color: black;
}

.main button a:hover {
  text-decoration: none;
  opacity: 0.6;
  transition: 500ms;
}

/*-- about page--*/

header {
  position: relative;
  background-color: #121212;
  height: 70px;
  font-weight: 700;
}

nav {
  position: absolute;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 40px;
}

nav li {
  display: inline-block;
  margin: 30px;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav ul li a {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 0;
}

nav li a:hover {
  color: aquamarine;
  transition: 1s;
}

.logo-text-small {
  display: inline-block;
  position: absolute;
  margin-left: 45%;
  top: 5px;
}

.logo-text-small a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 38px;
}

.logo-text-small h1 a:hover {
  color: aquamarine;
  transition: 1s;
}

.social-icons {
  float: right;
}

.social-icons a {
  float: right;
  color: white;
}

.social-icons ul li {
  font-size: 30px;
  display: inline-block;
}

.social-icons ul li a {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 50px;
}

.social-icons ul li a:hover {
  color: aquamarine;
  transition: 1s;
}

/*--background image--*/

.container {
  display: flex;
}

.image2 {
  position: relative;
}

.image2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 255, 183, 0.49653364763874297)),
    color-stop(50%, rgba(243, 255, 174, 0.4797269249496674)),
    color-stop(100%, rgba(245, 225, 72, 0.5413515748096114))
  );
}

/*--right side boxes--*/

.boxes {
  text-align: center;
  float: right;
  background-color: white;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}

.boxes a {
  text-decoration: none;
  color: white;
}

.boxes a:hover {
  color: aquamarine;
  transition: 1s;
}

.box-1 {
  color: #121212;
  background-color: white;
  padding: 71px;
}

.box-1 a {
  color: #121212;
  background-color: white;
}

.box-2 {
  color: white;
  padding: 71px;
  background-color: #121212;
}

.box-3 {
  color: white;
  padding: 71px;
  background-color: #121212;
}

/*--about text--*/

.about-text {
  position: absolute;
  margin-left: 50px;
  margin-top: 70px;
}

.about-text h1 {
  color: #f9f9f9;
  font-size: 50px;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.3);
}

.about-text p {
  color: #f9f9f9;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  font-weight: 800;
  margin-top: 30px;
}

/*--portfolio page--*/

.container-portfolio {
  display: flex;
}

.image3 {
  position: relative;
}

.image3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(230, 73, 98, 0.7038165608040091)),
    color-stop(50%, rgba(239, 136, 99, 0.7010154403558299)),
    color-stop(100%, rgba(248, 217, 144, 0.7038165608040091))
  );
}

/*--boxes on the right for portfolio--*/

.boxes-portfolio {
  text-align: center;
  float: right;
  background-color: white;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}

.boxes-portfolio a {
  text-decoration: none;
  color: white;
}

.boxes-portfolio a:hover {
  color: #e64962;
  transition: 1s;
}

.box-1-portfolio {
  color: black;
  background-color: #121212;
  padding: 71px;
}

.box-2-portfolio {
  color: #121212;
  padding: 71px;
}

.box-2-portfolio a {
  color: #121212;
  background-color: white;
}

.box-3-portfolio {
  color: white;
  padding: 71px;
  background-color: #121212;
}

/*--contact page--*/

.container-contact {
  display: flex;
}

.image4 {
  position: relative;
}

.image4:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(241, 125, 200, 0.7962535355939251)),
    color-stop(50%, rgba(222, 152, 208, 0.7290266448376226)),
    color-stop(100%, rgba(248, 217, 144, 0.7290266448376226))
  );
}

/*--boxes on the right for portfolio--*/

.boxes-contact {
  text-align: center;
  float: right;
  background-color: white;
  width: 100%;
  font-size: 50px;
  font-weight: 500;
}

.boxes-contact a {
  text-decoration: none;
  color: white;
}

.boxes-contact a:hover {
  color: #de98d0;
  transition: 1s;
}

.box-1-contact {
  color: black;
  background-color: #121212;
  padding: 71px;
}

.box-2-contact {
  color: white;
  padding: 71px;
  background-color: #121212;
}

.box-3-contact {
  color: #121212;
  padding: 71px;
  background-color: white;
}

.box-3-contact a {
  color: #121212;
  background-color: white;
}
